


            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 翻译列表
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">

                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-text">原文</th>
                                            <th class="table-text">译文</th>
                                            <th class="table-date am-hide-sm-only">修改日期</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for message in messages %}
                                        <tr id="tr_{{ message.message_id }}">
                                            <td >{{ message.message_original }}</td>
                                            <td >
                                                <input type="text" id="message_{{ message.message_id }}" placeholder="输入译文">
                                            </td>
                                            <td class="am-hide-sm-only">{{ message.update_time }}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button onclick="submitTranslate({{ message.message_id }})" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 提交</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>

<script>
    function submitTranslate(messageId) {
        translateMsg = $("#message_"+messageId).val();
        $.ajax({
            type: "get",
            url:"/translate_task/submit/",
            data:{"messageId":messageId,"translateMsg":translateMsg},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                if(data == "true"){
                    $("#tr_"+messageId).remove();
                }
            }
        });
    }
</script>









